<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ece3574.dausin"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name = "android.permission.ACCESS_COURSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"/>

    <application android:icon="@drawable/appicon" android:label="@string/app_name">
        <uses-library 
        	android:name="com.google.android.maps" />
        <activity android:name=".activities.PeopleFinderActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:configChanges="keyboardHidden|orientation"
           		  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activities.AnimateMeActivity"
        		  android:screenOrientation="portrait"
        		  android:theme="@android:style/Theme.Black.NoTitleBar">
        		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.LoginActivity"
        		  android:screenOrientation="portrait"
        		  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activities.CompassActivity"
            	  android:screenOrientation="portrait"
            	  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activities.mapFinderActivity"
            	  android:screenOrientation="portrait"
            	  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activities.DialogActivity"
            	  android:screenOrientation="portrait"
            	  android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <receiver android:name=".activities.ReceiveSMS"> 
            <intent-filter android:priority="999999"> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/> 
            </intent-filter> 
        </receiver>
        		  

    </application>
   
</manifest>